################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WypożyczalniaSamochodów/.vs/WypożyczalniaSamochodów.slnx
/WypożyczalniaSamochodów/WypożyczalniaSamochodów/obj
/WypożyczalniaSamochodów/WypożyczalniaSamochodów.Tests/obj
/WypożyczalniaSamochodów/WypożyczalniaSamochodów/bin/Debug/net10.0
/WypożyczalniaSamochodów/WypożyczalniaSamochodów.Tests/bin
/WypozyczalniaSamochodow/.vs/WypozyczalniaSamochodow.slnx
/WypozyczalniaSamochodow/WypozyczalniaSamochodow/obj
/WypozyczalniaSamochodow/WypozyczalniaSamochodow.Tests/obj/Debug/net10.0
/WypozyczalniaSamochodow/WypozyczalniaSamochodow.Tests/obj/Release/net10.0
/WypozyczalniaSamochodow/WypozyczalniaSamochodow.Tests/obj
/WypozyczalniaSamochodow/WypozyczalniaSamochodow.App/bin/Debug/net10.0
/WypozyczalniaSamochodow/WypozyczalniaSamochodow.App/obj/Debug/net10.0
/WypozyczalniaSamochodow/WypozyczalniaSamochodow.Tests/bin/Debug/net10.0
/WypozyczalniaSamochodow/WypozyczalniaSamochodow.App/obj
